/* Color Designer*/
$colorBlueW: #0453fc;
$colorBlue: #047cfc;
$colorBlueH: #53a6ff;
$colorGreen: #04ac3c;
$colorGreenH: #61ac7a;
$colorYellow: #fcc404;
$colorYellowH: #fdde75;
$colorBlack: #040404;
$colorGray: #443440;
$colorGrayH: #494949;

/* General */
$fontSize:14px;
$borderRadius:5px;
$transitionDuration:.2s;
$dividerColor:#b8b8b8;
$bgColor:#ececec;
$bgColorH: white;
$textColor: $colorBlack;
