.p-component {
  border-radius: $borderRadius;  
}

.grid{
  margin-right:0 !important;
  margin-left:0 !important;
  margin-top:0 !important;
}

.p-dataview-emptymessage {
  text-align: center !important;
  margin-bottom: 5px;
  font-size: 1.5rem;
}

.col-12{
  padding: 0;
}
@keyframes p-progress-spinner-color {
  100%,
  0% {
      stroke: $colorBlue;
  }
  40% {
      stroke: $colorBlue;
  }
  66% {
      stroke: $colorBlue;
  }
  80%,
  90% {
      stroke: $colorBlue;
  }
}

