@media (min-width: $breakpoint-tablet) and (max-width: #{$breakpoint-desktop - 1px}) {
    h1{
      font-size: 1.8rem;
      text-align: center !important;         
    }
    h2{
      font-size: 1.5rem;
  
    }
    p{
    	font-size: 18px;

    }
    .carousel-card{
      padding: 30px 50px 30px 50px !important;
    
    }
}


@media (max-width: $breakpoint-phone)  {
    h1{
      font-size: 1.5rem;
      text-align: center !important;      
  
    }
    h2{
      text-align: center !important; 
      font-size: 1.2rem;

    }

    p{
      text-align: center !important; 
    	font-size: 16px;

    }

    .title-1{
      font-size: 1.5rem;
    
    }

    .p-card-body{
      padding: 0 !important;
    }

    .div-text {
      text-align: center !important;  
    }

    .img-principal {
      height: 400px !important;
    }
    .p-menuitem {
      padding-bottom: 15px !important;
    }

    .sm-visible {
      display: block;
    }
}

@media (min-width: $breakpoint-desktop) {
  .carousel-card{
    padding: 30px 50px 30px 50px !important;
  
  }
}
