/* Color Designer*/

$colorBlueW: #0453fc;
$colorBlue: #047cfc;
$colorBlueH: #53a6ff;
$colorBlueS: #8dcdff;
$colorGreen: #04ac3c;
$colorGreenH: #61ac7a;
$colorGreenF: #04ac3c3d;
$colorYellow: #fcc404;
$colorYellowH: #fdde75;
$colorYellowF: #fcc2042c;
$colorBlack: #040404;
$colorGray: #443440;
$colorGrayH: #424242;
$colorWhite: #fff;
$colorWhiteH: rgb(209, 209, 209);
$dividerColor: #e3e3e3;
$bodyBgColor: #f9f9f9;

/* General */

$fontSize: 14px;
$borderRadius: 8px;
$transitionDuration: .2s;
$breakpoint-phone: 576px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 992px;
$breakpoint-desktop-big: 1200px;
